<h1>Login</h1>

<form id="loginForm">
    <label for="email">Email</label> <input id="email"><br>
    <label for="password">Contraseña</label> <input id="password" type="password"> <br>
    <button type="submit">Enviar</button>
</form>

<p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
<script src="/js/login.js"></script>