<h1>Registro de usuarios</h1>
<form id="formCargarUsuario">
    <label for="input_email">Email</label>
    <input id="input_email" name="email" type="text" placeholder="Ingrese email"><br>

    <label for="input_password">Contraseña</label>
    <input id="input_password" name="password" type="password" placeholder="Ingrese contraseña"><br>

    <label for="input_nombre">Nombre</label>
    <input id="input_nombre" name="nombre" type="text" placeholder="Ingrese nombre"><br>

    <label for="input_edad">Edad</label>
    <input id="input_edad" name="edad" type="number" placeholder="Ingrese edad"><br>

    <button type="submit">Guardar</button>
</form>


<p>¿Ya tienes una cuenta? <a href="/login">Ingresa aquí</a></p>
<script src="/js/cargaUsuarios.js"></script>