<h1>Restock de Productos</h1>

<p id="message">Presiona el botón "Hacer Restock" para realizar el restock de los productos <br> se realizara un restock de los productos cuyo stock sean 0.</p>

<button id="restockButton">Hacer Restock</button>



<script src="/js/restock.js">  
</script>
